@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme {
  --font-rubik: "Rubik", "sans-serif"; 
}

.v-gradient{
  background: linear-gradient( #081537, #141414 );
}
.sol-gradient{
  background: linear-gradient( #081537, #1E3677 );

}

.select-icon::after{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0 1rem;
  color: #000;
  pointer-events: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.home-gradient {
  background: linear-gradient(to bottom, #081537, #00A452);
}

.tailor-gradient {
  background: linear-gradient(to right, #081537, #141414);
}

.custom-select {
  appearance: none; /* Removes default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 40px 10px 10px; /* Space for the arrow */
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='black'%3E%3Cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust the position */
  background-size: 30px;
}
