@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme {
  --font-rubik: "Rubik", "sans-serif"; 
}

.v-gradient{
  background: linear-gradient( #081537, #141414 );
}
.sol-gradient{
  background: linear-gradient( #081537, #1E3677 );

}

.select-icon::after{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0 1rem;
  color: #000;
  pointer-events: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}